Repository PortAudio/portaudio, pull requests merged in 2020-10, with the labels that each got.

#307 wasapi: Improvement to lower possible cases of underruns due to coarse system timer and time-hungry user-side processing..
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi

#316 wasapi: Fix paInvalidSampleRate (and any other) error code is replaced with paInvalidDevice.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#309 wdmks: ensure that pins that failed creation by PinNew() are zeroed.
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks

#320 Add support for enabling dynamic alsa loading in CMakeLists.txt
  CMakeLists.txt
Labels: build-cmake

#312 alsa: Option to ignore all ALSA plugin devices.
  src/hostapi/alsa/pa_linux_alsa.c
Labels: linux, src-alsa

#340 wasapi: Support multiple devices in the device list on Windows UWP/WiRT platform.
  include/pa_win_wasapi.h
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#341 wasapi: Fixed compilation with MinGW32 (original mingw32, not mingw-w64).
  src/hostapi/wasapi/mingw-include/AudioSessionTypes.h
  src/hostapi/wasapi/mingw-include/PropIdl.h
  src/hostapi/wasapi/mingw-include/ShTypes.h
  src/hostapi/wasapi/mingw-include/audioclient.h
  src/hostapi/wasapi/mingw-include/functiondiscoverykeys_devpkey.h
  src/hostapi/wasapi/mingw-include/propkey.h
  src/hostapi/wasapi/mingw-include/sdkddkver.h
  src/hostapi/wasapi/mingw-include/winapifamily.h
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#328 Add the install interface to CMakeLists.txt
  CMakeLists.txt
Labels: build-cmake
