Repository PortAudio/portaudio, pull requests merged in 2020-12, with the labels that each got.

#342 Fix breaking strict-aliasing rules (if compiled with GCC with -fstrict-aliasing in PaWin_InitializeWaveFormatExtensible()
  src/os/win/pa_win_waveformat.c
Labels: src-os-win, windows

#327 Fix GUID defines in pa_win_wdmks.c when compiling with clang-cl
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks

#362 wasapi: Fixed underruns in the Exclusive mode on UWP platform.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#384 Fix a GCC warning due to unsigned substraction
  src/hostapi/alsa/pa_linux_alsa.c
Labels: src-alsa

#382 Add new GitHub action to build PortAudio using the MSVC project file
  .github/workflows/MSBuild.yml
Labels: CI

#388 wdmks: Reset packet->Header.OptionsFlags = 0 for each packet.
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks

#383 wdmks: Fix 'uninitialized variable used' warnings.
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks

#406 WASAPI: Report thread running so Pa_StartStream can return
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#376 wasapi: Fix signed/unsigned mismatch warning.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows
