Repository PortAudio/portaudio, pull requests merged in 2021-02, with the labels that each got.

#475 Clean up whitespace in src/hostapi/alsa in preparation for .editorconfig.
  src/hostapi/alsa/pa_linux_alsa.c
Labels: src-alsa

#476 Clean up whitespace in src/hostapi/wdmks in preparation for .editorconfig.
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks

#477 Clean up whitespace in src/hostapi/wasapi in preparation for .editorconfig.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi

#462 OSS: support 32-bit signed format AFMT_S32_NE
  src/hostapi/oss/pa_unix_oss.c
Labels: src-oss

#499 cmake_support/template_portaudio.def: make symbol numbers consistent …
  cmake_support/template_portaudio.def
Labels: src-wasapi, windows

#496 wasapi: add PaWasapi_GetIMMDevice function
  build/msvc/portaudio.def
  cmake_support/template_portaudio.def
  include/pa_win_wasapi.h
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-os-win, src-wasapi

#508 wasapi: Fixed glitchy audio in case of Exclusive mode and 24-bit packed format.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#509 wasapi: Fixed compilation for UWP platform, minor cleanup and refactoring.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#510 wasapi: Fix compilation for VS2010.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows
