Repository PortAudio/portaudio, pull requests merged in 2021-01, with the labels that each got.

#421 Add missing PaWasapi_GetDeviceMixFormat cmake DLL export
  cmake_support/template_portaudio.def
Labels: src-wasapi, windows

#429 wasapi: Device list should not fail with error if no audio device found.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi, windows

#374 use variadic arguments in DEFINE_GUID also for MSVC
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks

#464 Fix user-facing and non-user-facing typos
  doc/src/tutorial/writing_a_callback.dox
  include/pa_win_wasapi.h
  ltmain.sh
  src/hostapi/coreaudio/notes.txt
  src/hostapi/coreaudio/pa_mac_core.c
  src/hostapi/coreaudio/pa_mac_core_old.c
  src/hostapi/dsound/pa_win_ds.c
  src/hostapi/wasapi/pa_win_wasapi.c
  src/hostapi/wdmks/pa_win_wdmks.c
  src/hostapi/wmme/pa_win_wmme.c
  src/os/unix/pa_unix_util.c
  test/patest_write_stop_hang_illegal.c
Labels: P2, documentation, src-coreaudio, src-dsound, src-os-unix, src-wasapi, src-wdmks, src-wmme, test
