Repository PortAudio/portaudio, pull requests merged in 2023-03, with the labels that each got.

#773 wasapi: Refactored audio client instance creation.
  src/hostapi/wasapi/pa_win_wasapi.c
Labels: src-wasapi

#762 WDM-KS: don't request a zero buffer size
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks

#800 Remove -Werror from autotools darwin build
  configure
  configure.in
Labels: build-autoconf, final merge review

#791 Add CI action that compares msvc and cmake .def files
  .github/workflows/compare_def_files.yml
  pa_compare_def_files.py
Labels: CI, final merge review

#765 Remove usage of global BUILD_SHARED_LIBS variable
  CMakeLists.txt
Labels: build-cmake, final merge review

#752 Fix for WDM KS WaveRT low-latency microphone capture quality
  src/hostapi/wdmks/pa_win_wdmks.c
Labels: src-wdmks, final merge review
