Repository PortAudio/portaudio, pull requests merged in 2023-12, with the labels that each got.

#866 Add a test that tries to use the generated CMake libs [continuation].
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/PortAudioConfig.cmake.in
  cmake/toolchains/i686-w64-mingw32.cmake
  test/test_use_cmake/CMakeLists.txt
Labels: build-cmake

#834 alsa: do not link with lasound in the PA_ALSA_DYNAMIC case
  CMakeLists.txt
Labels: build-cmake, linux

#774 dsound: don't restrict the host buffer to 16-bit
  src/hostapi/dsound/pa_win_ds.c
Labels: src-dsound
