Repository PortAudio/portaudio, pull requests merged in 2023-08, with the labels that each got.

#796 mme: don't restrict the host buffer to 16-bit
  src/hostapi/wmme/pa_win_wmme.c
Labels: src-wmme

#829 Don't use apsolute path when linking to macOS frameworks
  CMakeLists.txt
Labels: build-cmake

#830 win: New PaWinUtil_GetOsVersion() function for getting Windows OS version
  CMakeLists.txt
  doc/src/tutorial/compile_windows_asio_msvc.dox
  msvc/portaudio.dsp
  msvc/portaudio.vcproj
  src/hostapi/dsound/pa_win_ds.c
  src/hostapi/wasapi/pa_win_wasapi.c
  src/hostapi/wdmks/pa_win_wdmks.c
  src/hostapi/wmme/pa_win_wmme.c
  src/os/win/pa_win_version.c
  src/os/win/pa_win_version.h
Labels: src-os-win
